.module_localNetworkInfos
  -for(var prop in localNetworkInfos)
    h3 To connect with another device, use https://#{localNetworkInfos[prop]}:8080

script(src='https://code.jquery.com/jquery-3.1.1.min.js')
script(src='/socket.io/socket.io.js')
script
  | var app = {};
  | app.currentFolder = "#{slugFolderName}";
  | app.currentProject = "#{slugProjectName}";
  | app.currentPubli = "#{slugPubliName}";
script( src='/js/production/plugins.js')
script moment.locale("#{dodoc.codelang}");

script( src='/dodoc.js')
script( src='/js/common.js')
script( src='/js/modules/_modals.js')
script( src='/js/_global.js')