include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade

- if( url.indexOf( 'panneau-de-publications') > 0) {
  body.bibli(data-publicationPane="open")
- } else {
  body.bibli(data-publicationPane)
- }

    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        +button( 'bibli', 'isNav')
        +button('capture', '', 'isCollapsed')

    .bibli-buffer
      ul.medias-list

      .btn-medias
        ul
          +button( 'ajoutText', '', 'isCollapsed')
          +button( 'ajoutMedia', '', 'isCollapsed')
          +button( 'publications', '', 'isCollapsed')

    .montage

      button.open-montage-bar.js--toggleMontage

      .montage-list
        h1.legende Liste des publications
        a(href="" data-reveal-id="modal-add-publi").button-wrapper.button-wrapper_add
          .btn.icon
            include templates/images/add.svg
          span Créer une nouvelle publication
        ul

      .montage-edit
        .montage-btn
          +button('backButton', '', 'isCollapsed')
          +button('view_publication', '', 'isCollapsed')

        .montage-title
          input(type="text" placeholder="Titre")
          h2.title
          .publi-btn
            +button('validerTitre', '', '')
            +button('editerTitre', '', 'isCollapsed')


        .inner-montage.small-12
          .montage-element

    div(id="modal-add-publi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Nouvelle publication
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-publi' placeholder='Nom')
        input(type='submit' class='submit-new-publi' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    include templates/modals/importMedia

    div(id="modal-add-text" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Ajouter du texte
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-text' placeholder='Titre')
        textarea(placeholder="Ajouter du texte ici")
        input(type='submit' class='js--submit-new-text' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    div(id="modal-media-view" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      .big-mediaContent
      a(class="close-reveal-modal" aria-label="Close") &#215;


    //- ALERT SUPPRIMER UN Media
    div(id="modal-delete-alert-media" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      p Êtes-vous sûr de vouloir supprimer ce média ?
      button.oui Oui
      button.annuler Annuler
      a(class="close-reveal-modal" aria-label="Close") &#215;

    .js--templates
      li.media.media_image(data-type="image" data-ratio data-title data-legende data-highlight=false)
        .mediaContent
          img
          .mediaData
            h5.mediaData--titre
            p.mediaData--legende
        +button( 'flag', '', 'isCollapsed')
      li.media.media_video(data-type="video" data-ratio data-title data-legende data-highlight=false)
        .mediaContent
          video(preload="none" controls)
            source()
          .mediaData
            h5.mediaData--titre
            p.mediaData--legende
        +button( 'flag', '', '')
      li.media.media_stopmotion(data-type="stopmotion" data-ratio data-title data-legende data-highlight=false)
        .mediaContent
          video(preload="none" controls)
            source()
          .mediaData
            h5.mediaData--titre
            p.mediaData--legende
        +button( 'flag', '', '')
      li.media.media_audio(data-type="audio" data-ratio data-title data-legende data-highlight=false)
        .mediaContent
          audio(preload="none" controls)
            source()
          .mediaData
            h5.mediaData--titre
            p.mediaData--legende
        +button( 'flag', '', '')
      li.media.media_text(data-type="text" data-ratio data-title data-legende data-highlight=false)
        .mediaContent
          h3.media-title
          p.text
        +button( 'flag', '', '')
      li.publi-folder(data-publi="")
        .content
          h2.title.js--edit_view
        .publi-btn
          +button('view_publication', '', 'isCollapsed')

      +button('deleteMedia', '', 'isCollapsed')
      //- Pop up media
      div.media-big_image.media-big.row(data-type="image")
        .mediaContent.small-8.columns
          img
        .mediaDataForm.small-4.columns
          include templates/mediaForm.jade
      div.media-big_video.media-big(data-type="video")
        .mediaContent.small-8.columns
          video(preload="none" controls)
            source()
        .mediaDataForm.small-4.columns
          include templates/mediaForm.jade
      div.media-big_stopmotion.media-big(data-type="stopmotion")
        .mediaContent.small-8.columns
          video(preload="none" controls)
            source()
        .mediaDataForm.small-4.columns
          include templates/mediaForm.jade
      div.media-big_audio.media-big(data-type="audio")
        .mediaContent.small-8.columns
          audio(preload="none" controls)
            source()
        .mediaDataForm.small-4.columns
          include templates/mediaForm.jade
      div.media-big_text.media-big(data-type="text" data-id)
        .mediaContent
          form(onsubmit='return false;' class='modify-text-view lead')
            input(type='text' class='view-text-title-modify')
            textarea.view-text-modify
            input(type='submit' class='js--submit-view-text-modify' value='Valider')
          a(href="#" title="Dodoc media" class='button-wrapper_highlightMedia js--highlightMedia #{defaultClasses}')
            span Highlight
          +button('deleteMediaBibli', '', '')


    //- //footer
    include templates/footer.jade

    script(src="/bower_components/dragula.js/dist/dragula.min.js")
    script(src='/js/dom_autoscroller.js')
    script(src='/js/bibli.js')



