doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade
  body.bibli

    .navbar-container
      header.navbar
        .logo
          a(href="/" title="Dodoc")
            include templates/images/dodoc-logo.svg

        .item
          a(href="/#{session}" title="Dodoc").button-wrapper.button-wrapper_dossier
            .btn.icon
              include templates/images/dossier.svg
            span #{session}

        .item
          a(href="/#{projet}" title="Dodoc").button-wrapper.button-wrapper_projet
            span #{projet}

        .item
          a(href="/#{session}/#{projet}/bibliotheque" title="Dodoc bibliotheque").button-wrapper.button-wrapper_bibli
            .btn.icon
              include templates/images/bibli.svg
            span Bibliothèque

        a(href="/#{session}/#{projet}/capture" title="Dodoc page de capture").button-wrapper.button-wrapper_capture
          .btn.icon
            include templates/images/record.svg
          span Capture

    div
      div.bibli-buffer.small-6.medium-6.large-6.columns
        ul.medias-list

        div.btn-medias.small-1.medium-1.large-1.columns
          ul
            li.--js-btn-medias-text.btn.icon
              include templates/images/text.svg
            li.--js-btn-medias-add.btn.icon
              include templates/images/add.svg
            li.--js-btn-medias-publications.btn.icon
              include templates/images/publi.svg

      div.montage.small-6.medium-6.large-6.columns
        div.montage-list
          a(href="" data-reveal-id="modal-add-publi").button-wrapper.button-wrapper_add
            .btn.icon
              include templates/images/add.svg
            span Créer une nouvelle publication
          ul
        div.montage-edit.js--templates
          div.montage-title
            input(type="text" placeholder="Titre")
            h2.montage-title-text
            div.publi-btn.btn.icon
              include templates/images/enregistre.svg
            div.edit-btn.btn.icon
              include templates/images/pen.svg
          div.inner-montage.small-12
            div.montage-element

    div(id="modal-add-publi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Nouvelle publication
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-publi' placeholder='Nom')
        input(type='submit' class='submit-new-publi' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    .js--templates
      li.media.media_image(data-type="image")
        .mediaContent
          img
      li.media.media_video(data-type="video")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_stopmotion(data-type="stopmotion")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_audio(data-type="audio")
        .mediaContent
          audio(preload="none" controls)
            source()
      li.publi-folder
        a(href="")
          .content
            h2

    //- //footer
    include templates/footer.jade

    script(src="/bower_components/dragula.js/dist/dragula.min.js")
    script(src='/js/bibli.js')



