doctype html
html
  head
    include templates/head.jade
  body.capture(data-currentpage="capture" data-boitiermode="capturemode_nav")
    .navbar-container

      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        +button( 'capture', 'isNav')
        .shortcut-button
          +button('bibli', '', 'isCollapsed')
          +button('publications', '', 'isCollapsed')


    div#container.row.mainContent
      .container-inner
        .captureButtonRow
          button.modeNavButtons.js--modeSwitch(data-direction="prev")
            | ◀
          span
            button#photo.js--modeSelector(data-mediatype="photo")
              span !{dodoc.lang().photo}
            button#video-btn.js--modeSelector(data-mediatype="video")
              span !{dodoc.lang().video}
            button#stopmotion.js--modeSelector(data-mediatype="stopmotion")
              span !{dodoc.lang().stopmotion}
            button#audio.js--modeSelector(data-mediatype="audio")
              span !{dodoc.lang().audio}
          button.modeNavButtons.js--modeSwitch(data-direction="next")
            | ▶

        .feedSettings
          .openCloseSettings
            +button( 'settings', '', 'isCollapsed')
          .feedSettings--scrollWindow
            form.sourceSelector
              .selectField.audioSource
                label(for="audioSource")
                  | !{dodoc.lang().audioInputSource}
                select#audioSource.js--audioSource
              .selectField.audioOutput
                label(for="audioOutput")
                  | !{dodoc.lang().audioOutputDestination}
                select#audioOutput.js--audioOutput
              .selectField.videoSource
                label(for="videoSource")
                  | !{dodoc.lang().videoInputSource}
                select#videoSource.js--videoSource
            form.resolutionSelector.js--resolutionSelector
              | !{dodoc.lang().chooseCameraResolution}
              label(for="qvga")
                input(type="radio" name="videoRes" id="qvga" value="qvga" data-width="320" data-height="240")
                span 320×240
              label(for="vga")
                input(type="radio" name="videoRes" id="vga" value="vga" data-width="640" data-height="480" checked)
                span 640×480
              label(for="hd")
                input(type="radio" name="videoRes" id="hd" value="hd" data-width="1280" data-height="720")
                span 1280×720
              label(for="fhd")
                input(type="radio" name="videoRes" id="fhd" value="fhd" data-width="1920" data-height="1080")
                span 1920×1080
              label(for="custom")
                input.js--customVideoResInput(type="radio" name="videoRes" id="custom" value="" disabled)
                | !{dodoc.lang().customCameraResolution}
                hr
                label(for="data-width")
                  | !{dodoc.lang().width}
                  input.setCustomRes.js--inputCustomVideoRes(type='number' name="data-width" step='1' value='' min='1' max='3000')
                label(for="data-height")
                  | !{dodoc.lang().height}
                  input.setCustomRes.js--inputCustomVideoRes(type='number' name="data-height" step='1' value='' min='1' max='3000')
                button.js--setCustomVideoRes
                  | !{dodoc.lang().apply}

        .content-wrapper
          .captureLeft
            .video-view
              //- display camera
              .videoContainer.js--videoContainer
                //- display last stopmotion image (if needed)
                img.captureLeft-lastStopmotionImage.js--lastStopmotionImage(src)
                video.videoFeed.js--videoFeed(autoplay muted)
                .currentStreamResolution.txt-small_info.txt-mono.js--currentStreamResolution
              //- display audio vizualizer
              canvas(id="canvas-audio" width="720" height="360")

              .btn-capture-wrapper
                .photo-capture
                  button#capture-btn.btn.icon
                    include ../client/images/i_record.svg
                .video-capture
                  .video-save
                    button#start-record-btn.btn.icon
                      include ../client/images/i_record.svg
                    button(id='stop-record-btn' class="btn icon" disabled)
                      include ../client/images/i_stop.svg
                  span#elasped-time
                  .slider--captureModesOptions
                    input.js--enableAudioInVideo(type="checkbox" checked id="enableAudioInVideo")
                    label.checkbox--enableAudioInVideo(for="enableAudioInVideo")
                      | !{dodoc.lang().enableAudioInVideo}
                .stopmotion-capture
                  button#start-sm-btn.btn.icon
                    include ../client/images/i_record.svg
                  button#capture-sm-btn.btn.icon
                    include ../client/images/i_record.svg
                  .slider--captureModesOptions
                    label.slider--lastImageOpacity(for="lastImageOpacity")
                      | !{dodoc.lang().lastImageOpacity}
                    input.js--lastImageOpacity(type="range" value="0" min="0" max="1" step="0.1" id="lastImageOpacity")

                .audio-capture
                  button#start-recording-btn.btn.icon
                    include ../client/images/i_record.svg
                  button(id='stop-recording-btn' class='btn icon' disabled)
                    include ../client/images/i_stop.svg

              .display-choice
                .choices.image-choice
                  .caption
                    | !{dodoc.lang().photo}
                .choices.video-choice
                  .caption
                    | !{dodoc.lang().video}
                .choices.stopmotion-choice
                  .caption
                    | !{dodoc.lang().stopmotion}
                .choices.audio-choice
                  .caption
                    | !{dodoc.lang().audio}

            .full-screen-wrapper
              +button( 'fullscreen', '', 'isCollapsed')
              +button( 'nofullscreen', '', 'isCollapsed')

          .captureRight
            .flash

            .preview.preview_image
              img.output.js--output
              +button( 'deleteMediaCapture', '', 'isCollapsed')

            .preview.preview_video
              video.output.js--output(controls autoplay)
              +button( 'deleteMediaCapture', '', 'isCollapsed')

            .preview.preview_stopmotion
              .preview_stopmotion--container
              .preview_stopmotion--timeline
              .preview_stopmotion--frameRate.txt-small_info
                span !{dodoc.lang().frameRate}
                input.js--stopmotion_frameRate(type='number' step='1' value='4' min='1' max='25')
              +button( 'previzStopmotion', '', '')
              .output_container
                video.js--output(controls autoplay loop)
                +button( 'deleteMediaCaptureStopmotion', '', '')
                +button( 'finishStopmotion', '', '')
                +button( 'removeAndStopStopmotion', '', '')
                .div_is_loading

            .preview.preview_audio
              img.output.js--output
              audio(controls)
              +button( 'deleteMediaCapture', '', 'isCollapsed')

    .js--templates
      .stopmotion_lastImagePreview
        img.output
        .meta-stopmotion
          .image_count
            | !{dodoc.lang().imageCount}
          +button( 'deleteLastMedia', '', 'isCollapsed')
      .stopmotion_lastImageSmallPreview
        img


    //- scripts
    include templates/footer.jade

    script(src="/js/libs/screenfull.min.js")
    script(src='/js/modules/_boitier.js')
    script(src='/js/modules/_capture-audio.js')
    script(src='/js/modules/_capture-photo.js')
    script(src='/js/modules/_capture-video.js')
    script(src='/js/modules/_capture-stopmotion.js')
    script(src='/js/capture.js' defer)
