doctype html
html
  head
    include templates/head.jade
  body.capture

    .navbar-container
      header.navbar
        .logo
          a(href="/" title="Dodoc")
            include templates/images/dodoc-logo.svg
        .item.item_dossier
          a(href="/#{session}" title="Dodoc")
            | #{session}
        .item.item_projet
          a(href="/#{projet}" title="Dodoc")
            | #{projet}
        .item.item_projet
          a(href="/#{session}/#{projet}/capture" title="Dodoc page de capture")
            include templates/images/record.svg
        a(href="/#{session}/#{projet}/bibliotheque" title="Dodoc bibliotheque").button-wrapper.button-wrapper_add
          div.add-folder-btn.btn.icon
            include templates/images/bibli.svg
          span Bibliothèque

      header.navbar
        .logo
          a(href="/" title="Dodoc")
            include templates/images/dodoc-logo.svg

        .item
          a(href="/#{session}" title="Dodoc").button-wrapper.button-wrapper_dossier
            .btn.icon
              include templates/images/dossier.svg
            span #{session}

        .item
          a(href="/#{projet}" title="Dodoc").button-wrapper.button-wrapper_projet
            span #{projet}

        .item
          a(href="/#{session}/#{projet}/capture" title="Dodoc page de capture").button-wrapper.button-wrapper_capture
            .btn.icon
              include templates/images/record.svg
            span Capture

        a(href="/#{session}/#{projet}/bibliotheque" title="Dodoc bibliotheque").button-wrapper.button-wrapper_bibli
          .btn.icon
            include templates/images/bibli.svg
          span Bibliothèque


    div#container.row
      div.container-inner.small-6
        div.media-choice.row
          div.btn-choice.small-12
            div.row
              button#photo.small-3.columns Image
              button#video-btn.small-3.columns Vidéo
              button#stopmotion.small-3.columns Stop motion
              button#audio.small-3.columns Son

        div.content-wrapper.row
          div.captureLeft.small-5.columns
            div.video-view.small-12
              //- display camera
              video(id="video" autoplay)
              //- display audio vizualizer
              canvas(id="canvas-audio" width="480" height="256")

              div.btn-capture-wrapper.small-12
                div.photo-capture
                  button#capture-btn.btn.icon
                    include templates/images/record.svg
                div.video-capture
                  div.video-save
                    button#start-record-btn.btn.icon
                      include templates/images/record.svg
                    button(id='stop-record-btn' class="btn icon" disabled)
                      include templates/images/stop.svg
                  span#elasped-time
                div.stopmotion-capture
                  button#start-sm-btn.btn.icon
                    include templates/images/record.svg
                  button#capture-sm-btn.btn.icon
                    include templates/images/record.svg
                div.audio-capture
                  button#start-recording-btn.btn.icon
                    include templates/images/record.svg
                  button(id='stop-recording-btn' class='btn icon' disabled)
                    include templates/images/stop.svg

              div.display-choice.small-12
                div.choices.image-choice
                  .caption Mode image
                div.choices.video-choice
                  .caption Mode vidéo
                div.choices.stopmotion-choice
                  .caption Mode stop motion
                div.choices.audio-choice
                  .caption Mode audio

            div.full-screen-wrapper
              div.full-screen
                include templates/images/fullscreen.svg
              div.no-full-screen
                include templates/images/nofullscreen.svg

          div.captureRight.small-5.columns
            div.flash.small-12
            div.clear
              button#clear.btn.icon
                include templates/images/clear.svg
            div(class="screenshot small-12" data-file="none")
              canvas#canvas.canvas-view
              canvas(id="canvas-equalizer" width=480 height=256)
              video(id="camera-preview" autoplay controls loop)
              button#stop-sm-btn.btn.icon
                include templates/images/enregistre.svg

            div.son
              audio(id="son" src="/star-wars-theme.mp3" controls)

          div.clone

       //- ALERT SUPPRIMER UN DOSSIER
      div(id="modal-change-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        p Êtes-vous sûr de vouloir changer de média (en changeant de média vous perdrez votre stop motion)
        button.oui Oui
        button.annuler Annuler
        a(class="close-reveal-modal" aria-label="Close") &#215;


    //- scripts
    include templates/footer.jade

    script(src="/bower_components/recordrtc/RecordRTC.min.js")
    script(src="/js/libs/screenfull.min.js")
    script(src='/js/capture.js')

