doctype html
html
  head
    include templates/head.jade
  body.projets

    .navbar-container
      header.navbar
        .logo
          a(href="/" title="Dodoc")
            include templates/images/dodoc-logo.svg
        .item
          a(href="/#{session}" title="Dodoc").button-wrapper.button-wrapper_dossier
            .btn.icon
              include templates/images/dossier.svg
            span #{session}

    #container.row

      .folder-wrapper.small-12.columns
        h1.folder #{folder}
        a(href="#" data-reveal-id="modal-add-project").button-wrapper.button-wrapper_add
          .btn.icon
            include templates/images/add.svg
          span Nouveau projet


      ul.project-list

      //- MODAL WINDOWS
      //- ADD PROJECT MODAL
      div(id="modal-add-project" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        h2#modalTitle.popoverTitle Nouveau projet
        form(onsubmit='return false;' class='add-project-form lead')
          input(type='text' class='new-project' placeholder='Nom')
          input(type='file' id='imageproject' accept='image/*' placeholder='Associer une image')
          input(type='submit' class='submit-new-project' value='Valider')
        a(class="close-reveal-modal" aria-label="Close") &#215;
      //- MODIFY PROJECT
      div(id="modal-modify-project" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      //- ALERT CHANGE STATUT (IF STATUT FINISH)
      div(id="modal-statut-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        p Attention! Le statut terminé ne vous permettra plus d'éditer votre dossier.
        button.oui Ok
        button.annuler Annuler
        a(class="close-reveal-modal" aria-label="Close") &#215;
      //- ALERT SUPPRIMER UN DOSSIER
      div(id="modal-delete-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        p Êtes-vous sûr de vouloir supprimer le dossier ?
        button.oui Oui
        button.annuler Annuler
        a(class="close-reveal-modal" aria-label="Close") &#215;

    .js--templates
      a(href="" title="Dodoc page de capture").button-wrapper.button-wrapper_capture.button-wrapper_without-bg.button-wrapper_collapsed
        .btn.icon
          include templates/images/record.svg
        span Capture
      a(href="/#{session}/#{projet}/bibliotheque" title="Dodoc bibliotheque").button-wrapper.button-wrapper_bibli.button-wrapper_without-bg.button-wrapper_collapsed
        .btn.icon
          include templates/images/bibli.svg
        span Bibliothèque
      a(href="/#{session}/#{projet}/bibliotheque" title="Dodoc bibliotheque").button-wrapper.button-wrapper_publi.button-wrapper_without-bg.button-wrapper_collapsed
        .btn.icon
          include templates/images/publi.svg
        span Publications

      .project.small-12.columns(data-statut)
        a.edit-icon.btn.icon(href="#" data-reveal-id="modal-modify-project")
          img(src="/images/pen.svg" alt="edit icon")
        .project-inside
          .left-content.small-8.medium-6.columns
            .content.small-6.columns
              h2
              .meta-data
                .statut
                  span statut
                  span.statut-type
                .created
                  span créé le
                  span.create-date
                .modified
                  span modifié le
                  span.modify-date
            .button-to-pages.small-6.columns
              a(href="/#{session}/#{projet}/capture" title="Dodoc page de capture").button-wrapper.button-wrapper_capture.button-wrapper_collapsed
                .btn.icon
                  include templates/images/record.svg
                span Capture
              a(href="/#{session}/#{projet}/bibliotheque" title="Dodoc bibliotheque").button-wrapper.button-wrapper_bibli
                .btn.icon
                  include templates/images/bibli.svg
                span Bibliothèque
          .image-wrapper.small-4.medium-6.columns
            img



    //- scripts
    include templates/footer.jade
    script(src='/js/projets.js')