mixin logo()
  .logo
    a(href="/" title="Dodoc")
      include images/dodoc-logo.svg

mixin button(typeOfButton, navOrButton, style)
  if( navOrButton === 'isNav')
    | <div class='item'>

  - var defaultClasses = 'button-wrapper '

  if( style === 'isCollapsed')
    - defaultClasses = defaultClasses + 'button-wrapper_collapsed '

  if( typeOfButton === 'dossier')
    a(href="/#{session}" title="Dodoc" class='button-wrapper_dossier #{defaultClasses}')
      .btn.icon
        include images/dossier.svg
      span #{folder}

  if( typeOfButton === 'acceptEdit')
    a(href="#" title="Dodoc" class='button-wrapper_deleteFolder js--acceptEdit #{defaultClasses}')
      .btn.icon
        include images/clear.svg
      span Supprimer


  if( typeOfButton === 'deleteFolder')
    a(href="#" title="Dodoc" class='button-wrapper_deleteFolder js--deleteFolder #{defaultClasses}')
      .btn.icon
        include images/clear.svg
      span Supprimer


  if( typeOfButton === 'projet')
    a(href="/#{session}/#{projet}" title="Dodoc" class='button-wrapper_projet #{defaultClasses}')
      span #{projectName}

  if( typeOfButton === 'nouveauDossier')
    a(href="#" data-reveal-id="modal-add-folder" class='button-wrapper_add #{defaultClasses}')
      .btn.icon
        include images/add.svg
      span Créer un dossier

  if( typeOfButton === 'nouveauProjet')
    a(href="#" data-reveal-id="modal-add-project" class='button-wrapper_add #{defaultClasses}')
      .btn.icon
        include images/add.svg
      span Nouveau projet

  if( typeOfButton === 'editProjet')
    a(href="#" data-reveal-id="modal-modify-project" class='button-wrapper_editProjet js--edit-project-icon #{defaultClasses}')
      .btn.icon
        include images/pen.svg
      span Éditer ce projet

  if( typeOfButton === 'capture')
    a(href="/#{session}/#{projet}/capture" title="Dodoc page de capture" class='button-wrapper_capture #{defaultClasses}')
      .btn.icon
        include images/record.svg
      span Capture

  if( typeOfButton === 'bibli')
    a(href="/#{session}/#{projet}/bibliotheque" title="Dodoc bibliotheque" class='button-wrapper_bibli #{defaultClasses}')
      .btn.icon
        include images/bibli.svg
      span Bibliothèque

  if( typeOfButton === 'publications')
    a(href="/#{session}/#{projet}/bibliotheque/panneau-de-publications" title="Dodoc publi" class='button-wrapper_publi js--publications #{defaultClasses}')
      .btn.icon
        include images/publi.svg
      span Publications

  if( typeOfButton === 'view_publication')
    a(href="/#{session}/#{projet}/publication" title="Dodoc publi" class='button-wrapper_view js--publi_view #{defaultClasses}')
      .btn.icon
        include images/view.svg
      span Afficher

  if( typeOfButton === 'edit_publication')
    a(href="/#{session}/#{projet}/publication" title="Dodoc publi" class='button-wrapper_edit js--edit_view #{defaultClasses}')
      .btn.icon
        include images/pen.svg
      span Éditer

  if( typeOfButton === 'validerTitre')
    a(href="#" title="Dodoc publi" class='button-wrapper_accept js--validerTitre #{defaultClasses}')
      .btn.icon
        include images/enregistre.svg
      span Valider

  if( typeOfButton === 'editerTitre')
    a(href="#" title="Dodoc publi" class='button-wrapper_edit js--editerTitre #{defaultClasses}')
      .btn.icon
        include images/pen.svg
      span Éditer le titre

  if( typeOfButton === 'ajoutText')
    a(href="#" data-reveal-id="modal-add-text" title="Dodoc texte" class='button-wrapper_addText js--ajoutText #{defaultClasses}')
      .btn.icon
        include images/text.svg
      span Créer un bloc de texte

  if( typeOfButton === 'ajoutMedia')
    a(href="#" data-reveal-id="modal-add-local" title="Dodoc media" class='button-wrapper_addMedia js--ajoutMedia #{defaultClasses}')
      .btn.icon
        include images/add.svg
      span Ajouter un média



  if( navOrButton === 'isNav')
    | </div>
