+snippets('moduleInfos')
+modals('moveContentFolder')

script
  | if (typeof module === 'object') {window.module = module; module = undefined;}

script
  | var app = {};
  | app.currentFolder = "!{slugFolderName}";
  | app.currentProject = "!{slugProjectName}";
  | app.currentPubli = "!{slugPubliName}";
  | app.contentDir = "!{contentDir}";
  | app.currentUserDirPath = "!{currentUserDirPath}";
  | app.url = "!{url}";
  | var dodoc = !{JSON.stringify(dodoc)};
script( src='/js/production/plugins.min.js')
script moment.locale("#{dodoc.codelang}");

script( src='/js/common.js')
script( src='/js/modules/_modals.js')
script( src='/js/_global.js')
script( src='/js/libs/foundation.js')

script
  | if (window.module) module = window.module;