li.media.media_image.js--openModal_editMedia(data-ratio data-title data-legende data-highlight=false)
  .mediaContent
    img
    .mediaData
      p.mediaData--informations
  +button( 'flag', '', 'isCollapsed')
  +button('deleteMedia', '', 'isCollapsed')
li.media.media_video.js--openModal_editMedia(data-ratio data-title data-legende data-highlight=false)
  .mediaContent
    video(preload="none" controls)
      source()
    .mediaData
      p.mediaData--informations
  +button( 'flag', '', '')
  +button('deleteMedia', '', 'isCollapsed')
li.media.media_stopmotion.js--openModal_editMedia(data-ratio data-title data-legende data-highlight=false)
  .mediaContent
    video(preload="none" controls)
      source()
    .mediaData
      p.mediaData--informations
  +button( 'flag', '', '')
  +button('deleteMedia', '', 'isCollapsed')
li.media.media_audio.js--openModal_editMedia(data-ratio data-title data-legende data-highlight=false)
  .mediaContent
    img.poster
    audio(preload="none" controls)
      source()
    .mediaData
      p.mediaData--informations
  +button( 'flag', '', '')
  +button('deleteMedia', '', 'isCollapsed')
li.media.media_text.js--openModal_editMedia(data-ratio data-title data-legende data-highlight=false)
  .mediaContent
    .mediaContent--textOfTextmedia
  +button( 'flag', '', '')
  +button('deleteMedia', '', 'isCollapsed')

li.publi-folder(data-publi="")
  .content
    a.js--edit_view
      h2.title
  .publi-btn
    +button('view_publication', '', 'isCollapsed')
    +button('edit_publication', '', 'isCollapsed')
    +button('remove_publication', '', 'isCollapsed')

.montage_publi
  .montage-btn
    +button('backButton', '', 'isCollapsed')
    +button('view_publication', '', 'isCollapsed')

  include publiTemplate.jade

//- Pop up media
.media-big_image.media-big.row(data-type="image")
  .mediaContent.small-12.large-8.columns
    img
  .mediaDataForm.small-12.large-4.columns
    +snippets('mediaForm')

.media-big_video.media-big(data-type="video")
  .mediaContent.small-12.large-8.columns
    video(preload="none" controls)
      source()
  .mediaDataForm.small-12.large-4.columns
    +snippets('mediaForm')

.media-big_stopmotion.media-big(data-type="stopmotion")
  .mediaContent.small-12.large-8.columns
    video(preload="none" controls)
      source()
  .mediaDataForm.small-12.large-4.columns
    +snippets('mediaForm')

.media-big_audio.media-big(data-type="audio")
  .mediaContent.small-12.large-8.columns
    img
    audio(preload="none" controls)
      source()
  .mediaDataForm.small-12.large-4.columns
    +snippets('mediaForm')

.media-big_text.media-big(data-type="text" data-id)
  .mediaDataForm
    +snippets('mediaForm_txt')


.project(data-statut)
  +button('editProjet', '', 'isCollapsed')
  .project-inside.flex_structure
    .project-content.flex_50.flex_structure
      a(href="" title="Dodoc").project-link
        h2.title
      .meta-data.txt-small_info.flex_40.margin-top_bottom
        .statut
          span
            | !{dodoc.lang().status}
          span.statut-type
        .created
          span
            | !{dodoc.lang().createdOn}
          span.create-date
        .modified
          span
            | !{dodoc.lang().modifiedOn}
          span.modify-date
      .button-to-pages.flex_60
        h3.txt-small_info.margin-top_bottom
          | !{dodoc.lang().quickAccess}
        +button('capture', '', 'isCollapsed')
        +button('bibli', '', 'isCollapsed')
        +button('publications', '', 'isCollapsed')
    .image-wrapper.flex_50
      img
  ul.last-medias.grille_de_medias
    h3.txt-small_info
      | !{dodoc.lang().lastMediasAdded}

  .montage-list
    h1.txt-small_info
      | !{dodoc.lang().listOfPublications}
    ul.list-publi


li.dossier.small-12.medium-12.large-4.columns(data-statut data-name data-nom)
  .dossier-inside
    .content
      +button('editFolder', '', 'isCollapsed')
      a.folder-link(href title)
        h2.title
      .projet-list
    .meta-data.txt-small_info.row
      .nb-projets.small-6.columns
        span.nb-projets-intitule
          | !{dodoc.lang().projects}
        span.nb-projets-count 0
      .statut.small-6.columns
        span
          | !{dodoc.lang().status}
        span.statut-type
      .created.small-6.columns
        span
          | !{dodoc.lang().createdOn}
        span.create-date
      .modified.small-6.columns
        span
          | !{dodoc.lang().modifiedOn}
        span.modify-date

.projetSnippet
  a(data-link_to_project)
    h3.title
    .vignette-visuel
      img(src)


