mixin modals(typeOfModal)

  div(class="m_modal" data-reveal data-modal-id="#{typeOfModal}")

  if( typeOfModal === 'addFolder')
    //////////////////////////////////////////////   ADD FOLDER  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.newFolder}
      form(onsubmit='return false;')
        input(type='text' class='js--data_folderName' placeholder='Nom' required autofocus)
        hr
        +button( 'valider', '', 'isCollapsed')

  if( typeOfModal === 'editFolder')
    //////////////////////////////////////////////   EDIT FOLDER  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.editFolder}
      form(onsubmit="return false;")
        input(type="text" class="modify-folder" required autofocus)
        select.modify-statut(name="statut")
          option(value='en cours')
            | !{dodoc.lang().modal.inprogress}
          option(value='terminé')
            | !{dodoc.lang().modal.finished}
        +button('deleteFolder', '', '')
        hr
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'addProject')
    //////////////////////////////////////////////   ADD PROJECT  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .txt-large_title
        | !{dodoc.lang().modal.newProject}
      form(onsubmit='return false;')
        input(type='text' class='js--modal_name' placeholder=dodoc.lang().name autofocus required)
        input#addImageProject(type="file" class="inputfile js--modal_inputfile inputfile-2" accept="image/*")
        label(for="addImageProject")
          | <svg xmlns="" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
          span
            | !{dodoc.lang().modal.selectAnImage}
        hr
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'editProject')
    //////////////////////////////////////////////   EDIT PROJECT  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.editProject}
      form(onsubmit='return false;' class='modify-project-form')
        input(type='text' class='js--modal_name' placeholder=dodoc.lang().name autofocus required)
        select.modify-project-statut(name='statut')
          option(value='en cours')
            | !{dodoc.lang().modal.inprogress}
          option(value='terminé')
            | !{dodoc.lang().modal.finished}
        input#editImageProject(type="file" class="inputfile js--modal_inputfile inputfile-2" accept="image/*")
        label(for="editImageProject")
          | <svg xmlns="" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
          span
            | !{dodoc.lang().modal.selectAnImage}
        +button('deleteProject', '', '')
        hr
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'addPubli')
    //////////////////////////////////////////////   ADD PUBLI  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.newPubli}
      form(onsubmit='return false;')
        input(type='text' class='js--modal_name' placeholder=dodoc.lang().name autofocus required)
        fieldset.templateSelector
          .txt-small_info.margin-top_bottom
            | !{dodoc.lang().selectTemplate}
          - for (var i = 0; i < templates.length; i++) {
          label
            input.js--modal_template(type="radio" name="publiTemplate" value="#{templates[i]}" checked)
            img(src="/#{dodoc.settings().publicationTemplateDirname}/#{templates[i]}/icone.svg")
            span #{templates[i]}
          - }
        hr
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'editPubli')
    //////////////////////////////////////////////   EDIT PUBLI  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().editPubli}
      form(onsubmit='return false;')
        input(type='text' class='js--modal_name' placeholder=dodoc.lang().name autofocus required)
        fieldset.templateSelector
          .txt-small_info.margin-top_bottom
            | !{dodoc.lang().selectTemplate}
          - for (var i = 0; i < templates.length; i++) {
          label
            input.js--modal_template(type="radio" name="publiTemplate" value="#{templates[i]}" checked)
            img(src="/#{dodoc.settings().publicationTemplateDirname}/#{templates[i]}/icone.svg")
            span #{templates[i]}
          - }
        hr
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'addText')
    //////////////////////////////////////////////   ADD TEXT  //////////////////////////////////
    .m_modal-content.is--limitedWidth
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.addText}
      form(onsubmit='return false;' class='modal_addTextForm')
        textarea.mediaContent--textOfTextmedia.js--textField(placeholder="Ajouter du texte ici" autofocus required)
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'addLocalMedia')
    //////////////////////////////////////////////   IMPORT MEDIA  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.importAFile}
      form(onsubmit='return false;')
        input(id="addLocalMediaInputFile" type="file" multiple class="inputfile js--modal_inputfile inputfile-2" autofocus required)
        label(for="addLocalMediaInputFile")
          | <svg xmlns="" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
          span
            | !{dodoc.lang().modal.importAMedia}
        small
          | !{dodoc.lang().modal.acceptedFormats}
        hr
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'editMedia')
    //////////////////////////////////////////////   BIG MEDIA  //////////////////////////////////
    .m_modal-content.is--fullPage
      +button( 'close', '', 'isCollapsed')
      .big-mediaContent
      .big-mediaNav
        button.big-mediaNav-arrow.big-mediaNav-arrow_left.js--big-mediaNav-prev
          | ◀
        button.big-mediaNav-arrow.big-mediaNav-arrow_right.js--big-mediaNav-next
          | ▶

  if( typeOfModal === 'moveContentFolder')
    //////////////////////////////////////////   MOVE CONTENT FOLDER  //////////////////////////////
    .m_modal-content
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.moveContentFolder}
      p
        | !{dodoc.lang().modal.instructionsToMoveContentFolder}
      hr
      +button('valider', '', 'isCollapsed')


  if( typeOfModal === 'showQR')
    //////////////////////////////////////////   SHOW QR  //////////////////////////////
    .m_modal-content
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.qrcode}
      p
        | !{dodoc.lang().modal.qrcodeinstructions}
      img.js--qr.modal--QR


  if( typeOfModal === 'exportWebIsReady')
    //////////////////////////////////////////////   WEBSITE READY  //////////////////////////////////
    .m_modal-content
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.yourWebsiteHasBeenSaved}
      a.txt-wrap_long_lines.js--exportedWebsiteZIPURL(href target="_blank" download="publication.zip")
        | !{dodoc.lang().modal.downloadAZIP}

      hr

      p.js--has_noInternet
        | !{dodoc.lang().modal.noInternetCantSendOverFtp}
      p.js--has_internet
        | !{dodoc.lang().modal.hasInternetCanSendOverFtp}
      +button('uploadViaFTP', '', '')

  if( typeOfModal === 'uploadWebsiteViaFTP')
    //- modal-connexion
    //////////////////////////////////////////////   UPLOAD TO FTP  //////////////////////////////////
    .m_modal-content(data-pressEnterToSubmit)
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.sendFilesToAServer}
      form(onsubmit='return false;' class='ftp-settings-form lead')
        input(type='text' class='host' placeholder='Host' autofocus required)
        input(type='text' class='user' placeholder='User' required)
        input(type='password' class='pass' placeholder='Password' required)
        input(type='url' class='baseURL' placeholder='Url du site' required)
        input(type='text' class='folder' placeholder='Sous-dossier')
        hr
        +button('valider', '', 'isCollapsed')

  if( typeOfModal === 'publiHasBeenSentToFtp')
    //////////////////////////////////////   PUBLI HAS BEEN SENT TO FTP  //////////////////////////////////
    .m_modal-content
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.publiHasBeenSentToServer}
      .txt-small_info
        | !{dodoc.lang().modal.clickHereToOpenPubliInAWebBrowser}
      a.urlToPubli.txt-wrap_long_lines.js--urlToPubli.js--openInBrowser(href target="_blank")

  if( typeOfModal === 'publiFailedToUpload')
    //////////////////////////////////////   PUBLI FAILED TO UPLOAD VIA FTP  //////////////////////////////////
    .m_modal-content
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.publiFailedToUpload}
      pre.js--ftpFailReason



  if( typeOfModal === 'confirmPdfExported')
    //- modal-confirm-pdf
    //////////////////////////////////////////////   CONFIRM PDF  //////////////////////////////////
    .m_modal-content
      +button( 'close', '', 'isCollapsed')
      .modal_title.txt-large_title
        | !{dodoc.lang().modal.pdfPublicationHasBeenSaved}
      a(data-set_href_as_PDF_URL data-set_download_as_publication_name href target="_blank" download="publication.pdf")
        | !{dodoc.lang().modal.downloadThePDF}
      br
      a(data-set_href_as_PDF_URL data-open_in_native_app href target="_blank")
        | !{dodoc.lang().modal.openThePDF}

